<body>

  <app-slideshow *ngIf="curSlideshow && !keypress" [id]="curSlideshow.id" [delay]="curSlideshow.delay" [iterations]="curSlideshow.iterations"
    (completed)="slideComp()">
  </app-slideshow>

  <div class="contentContainer">

    <app-keypress *ngIf="keypress" [keyevt]="keypress" (completed)="keypressComp()"></app-keypress>

    <ng-container *ngIf="!curSlideshow && !keypress">
      <div class="plans">
        <app-plan class="leftPlan" [plan]="leftPlan"></app-plan>
        <app-plan class="rightPlan" [plan]="rightPlan"></app-plan>
      </div>
    </ng-container>

  </div>

</body>