<body>

  <app-slideshow *ngIf="curSlideshow && !keypress" [id]="curSlideshow.id" [delay]="curSlideshow.delay" [iterations]="curSlideshow.iterations"
    (completed)="slideComp()">
  </app-slideshow>

  <app-keypress *ngIf="keypress" [keyevt]="keypress" (completed)="keypressComp()"></app-keypress>

  <ng-container *ngIf="!curSlideshow && !keypress">
    <div class="contentContainer">
      <div class="header">
        <div class="state">
          {{state}}
        </div>
      </div>

      <div class="plans">
        <app-plan class="leftPlan" [plan]="leftPlan" [sorting]="['StundeNeu','KlasseNeu']"></app-plan>
        <app-plan class="rightPlan" [plan]="rightPlan" [sorting]="['StundeNeu','KlasseNeu']"></app-plan>
      </div>

      <div class="footer" *ngIf="footer && footer.length>0">
        {{footer}}
      </div>
    </div>
  </ng-container>

</body>