/*
Author: dsalex1
Author URI: https://github.com/dsalex1/MeanECP/tree/master/docs
Description: Global styles 
*/

/*remove all default offsets...much styling issues otherwise*/
*{
    margin:0;
    padding:0;
    font-family: Arial
}


/*set primary color, darkblue, to all header and text tags, and custom size/offsets for a clearer layout*/
h1{
    margin-top:0;
    padding-top:0;
    font-size:3em;
    margin-bottom:35px;
    color:darkblue
}

h2{
    margin-top:0;
    padding-top:0;
    font-size:2.2em;
    margin-bottom:35px;
    color:darkblue
}
h3{
    margin-top:0;
    padding-top:0;
    font-size:1.7em;
    margin-bottom:1em;
    color:darkblue
}
h4{
    margin-top:0;
    padding-top:0;
    margin-bottom:1em;
    color:darkblue
}
p{
    line-height:1.8em;
    margin-bottom:1.6em
}

/*remove links color highlighting*/
a{
    color:#444;
}