body{
    background:url(/assets/images/background_portrait_1080px.png) no-repeat;
    background-repeat:no-repeat;
    background-size:cover;
    width:1080px;
    height:1920px;
   /* transform: rotate(90deg) translate(-420px,-420px);*/
}

.contentContainer{
    display: flex;
    flex-flow: column;
    height:100%;
    width:100%;
}

.header {
    flex: 0 0 14.8%;
}

/deep/ app-plan .header{
	flex-basis:4%;
    font-size:22pt;
    color:#FFFFFF;
}

.state{
    font-size:30pt;
    color:#FFFFFF;
    margin-top:200px;
    margin-left:380px;
}

.plans {
  flex: 1 1 auto;
  display: flex;
  height:100%;
  width:100%;
}

.plan  { 
	flex: 1 0 100%;
}

.footer {
  flex: 0 1 auto;
  background-color:#AAFFFF;
  padding:8px;
}