/*
Author: dsalex1
Author URI: https://github.com/dsalex1/MeanECP/tree/master/docs
Description: Navbar styling, general appearence and tab links styling 
*/

/* set the header fixed at top and on top of everything else*/
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:70px;
    z-index:999;
    background-Color:rgba(240,240,240,.9);
}


.logo{
    padding:2px;
    float:left
}
.logo>img{
    height:66px;
}

/*make the tab links look nice*/
#mainNav{
    list-style-type:none;
    padding:23px 0px 5px 0px;
    text-align:right;
    width:80%;
    width:calc(85% - 70px);

    float:left;
}
#mainNav>li{
    display:inline-block;
    margin:0 10px;
    position:relative
}
header a{
    text-decoration:none;
    font-size: 1.5em;
    color:#000;
}
