<body>

  <app-slideshow *ngIf="curSlideshow && !keypress" [id]="curSlideshow.id" [delay]="curSlideshow.delay" [iterations]="curSlideshow.iterations"
    (completed)="slideComp()">
  </app-slideshow>

  <div class="contentContainer">

    <app-keypress *ngIf="keypress" [keyevt]="keypress" (completed)="keypressComp()"></app-keypress>

    <ng-container *ngIf="!curSlideshow && !keypress">
      <app-plan *ngFor="let plan of plans" [plan]="plan" [filter]="filter"></app-plan>
    </ng-container>

  </div>

</body>