<body>

  <app-slideshow *ngIf="curSlideshow && !keypress" [id]="curSlideshow.id" [delay]="curSlideshow.delay" [iterations]="curSlideshow.iterations"
    (completed)="slideComp()">
  </app-slideshow>

  <div class="contentContainer">

    <app-keypress *ngIf="keypress" [keyevt]="keypress" (completed)="keypressComp()"></app-keypress>

    <ng-container *ngIf="!curSlideshow && !keypress">
      <div class="contentContainer">
        <div class="header">
          <div class="state">
            {{state}}
          </div>
        </div>

        <div class="plans">
          <app-plan class="plan" [class.spacer]="!last" *ngFor="let plan of plans; let last=last" [plan]="plan" [filter]="filter" [sorting]="['LehrerNeu','VertretungNeu']"></app-plan>
        </div>

        <div class="footer" *ngIf="footer && footer.length>0">
          {{footer}}
        </div>
      </div>
    </ng-container>

  </div>

</body>