      * {
        font-family: Arial;
        font-size: 15pt;
        padding: 0px;
        margin: 0px;
        /*border: 1px dotted grey*/
      }

      html,
      body {
        height: 100%;
        margin: 0;
        overflow: hidden;
      }