.container{ 
    margin:0px;
    padding:0px;
    height:100%;
    width:100%;
    display: flex;
    flex-direction:column;
}

.header{
	flex-grow: 0 ;
	flex-shrink:0;
	display: flex;
	flex-direction:column;
    justify-content:center;
	padding-left:10px;
}

.flex{
	display:flex;
	margin: 5px;
}

.noShrink{
	flex-shrink: 0;
	width:235px
}

.exchangeContainer{
	flex: 0 1 auto;
	display: flex;
    flex-direction:column;
	overflow: hidden;
}

.scrollContainer{
	flex: 1 1 auto;
	overflow: hidden;
}

.exchangeTable{
	margin:0px;
	margin-right:5px;
	padding:0px;
	width:100%;
}

.rowKlasse{
	max-width: 120px
}

.rowStunde, .rowKlasse, .rowFach, .rowLehrer, .rowRaum, .rowVertretung, .rowAnmerkung{
	padding-left:8px;
	padding-right:8px;
	padding-top:3px;
	padding-bottom:3px;
}

.bordered{
	border: 1px solid black;
	margin: 5px;
}
.annotationContainer{
	flex: 1 1 auto;
}

.annotationElement{
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
}
